DEBUG=True
SECRET_KEY=pon-aqui-una-clave-local
ALLOWED_HOSTS=127.0.0.1,localhost

# Produccion en Render
# DEBUG=False
# ALLOWED_HOSTS=fumigacionesentom.com,www.fumigacionesentom.com,fumigaciones-entom-web.onrender.com
# SECRET_KEY=tu-secret-key-de-produccion
# CLOUDINARY_CLOUD_NAME=tu-cloud-name
# CLOUDINARY_API_KEY=tu-api-key
# CLOUDINARY_API_SECRET=tu-api-secret